NET "SEG_DATA[7]" LOC = T17;
NET "SEG_DATA[6]" LOC = T18;
NET "SEG_DATA[5]" LOC = U17;
NET "SEG_DATA[4]" LOC = U18;
NET "SEG_DATA[3]" LOC = M14;
NET "SEG_DATA[2]" LOC = N14;
NET "SEG_DATA[1]" LOC = L14;
NET "SEG_DATA[0]" LOC = M13;
NET "SEG_SEL[3]" LOC = P17;
NET "SEG_SEL[2]" LOC = P18;
NET "SEG_SEL[1]" LOC = N15;
NET "SEG_SEL[0]" LOC = N16;
NET "CLK_SRC" LOC = V10;
