//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 28 18:14:45 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SEG_DATA_kadai4[0]" LOCATE = SITE "M13" LEVEL 1;
COMP "SEG_DATA_kadai4[1]" LOCATE = SITE "L14" LEVEL 1;
COMP "SEG_DATA_kadai4[2]" LOCATE = SITE "N14" LEVEL 1;
COMP "SEG_DATA_kadai4[3]" LOCATE = SITE "M14" LEVEL 1;
COMP "SEG_DATA_kadai4[4]" LOCATE = SITE "U18" LEVEL 1;
COMP "SEG_DATA_kadai4[5]" LOCATE = SITE "U17" LEVEL 1;
COMP "SEG_DATA_kadai4[6]" LOCATE = SITE "T18" LEVEL 1;
COMP "SEG_DATA_kadai4[7]" LOCATE = SITE "T17" LEVEL 1;
COMP "CLK_SRC_kadai4" LOCATE = SITE "V10" LEVEL 1;
COMP "SEG_SEL_kadai4[0]" LOCATE = SITE "N16" LEVEL 1;
COMP "SEG_SEL_kadai4[1]" LOCATE = SITE "N15" LEVEL 1;
COMP "SEG_SEL_kadai4[2]" LOCATE = SITE "P18" LEVEL 1;
COMP "SEG_SEL_kadai4[3]" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

