//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 25 14:27:44 2018
//! **************************************************************************

SCHEMATIC START;
COMP "LD0" LOCATE = SITE "U16" LEVEL 1;
COMP "CLK_SRC" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

