//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 28 17:21:23 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SEG_DATA[0]" LOCATE = SITE "M13" LEVEL 1;
COMP "SEG_DATA[1]" LOCATE = SITE "L14" LEVEL 1;
COMP "SEG_DATA[2]" LOCATE = SITE "N14" LEVEL 1;
COMP "SEG_DATA[3]" LOCATE = SITE "M14" LEVEL 1;
COMP "SEG_DATA[4]" LOCATE = SITE "U18" LEVEL 1;
COMP "SEG_DATA[5]" LOCATE = SITE "U17" LEVEL 1;
COMP "SEG_DATA[6]" LOCATE = SITE "T18" LEVEL 1;
COMP "SEG_DATA[7]" LOCATE = SITE "T17" LEVEL 1;
COMP "CLK_SRC" LOCATE = SITE "V10" LEVEL 1;
COMP "SEG_SEL[0]" LOCATE = SITE "N16" LEVEL 1;
COMP "SEG_SEL[1]" LOCATE = SITE "N15" LEVEL 1;
COMP "SEG_SEL[2]" LOCATE = SITE "P18" LEVEL 1;
COMP "SEG_SEL[3]" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

