NET "LD1" LOC = U16;
NET "LD2" LOC = V16;
INST "LD3_OBUF" LOC = U15;
NET "LD3" LOC = U15;
NET "SW[1]" LOC = T9;
INST "SW_0_IBUF" LOC = T10;
NET "SW[0]" LOC = T10;
NET "LD" LOC = U16;
NET "SW[2]" LOC = V9;
NET "SW[3]" LOC = M8;
NET "SEG_SEL[2]" LOC = P18;
NET "SEG_SEL[3]" LOC = P17;
NET "SEG_SEL[0]" LOC = N16;
NET "SEG_SEL[1]" LOC = N15;
NET "SEG_DATA[7]" LOC = T17;
NET "SEG_DATA[6]" LOC = T18;
NET "SEG_DATA[5]" LOC = U17;
NET "SEG_DATA[4]" LOC = U18;
NET "SEG_DATA[3]" LOC = M14;
NET "SEG_DATA[2]" LOC = N14;
NET "SEG_DATA[1]" LOC = L14;
NET "SEG_DATA[0]" LOC = M13;
NET "CLK_SRC" LOC = V10;
NET "LD0" LOC = U16;
