NET "BTN[4]" LOC = C4;
NET "BTN[3]" LOC = D9;
NET "BTN[2]" LOC = A8;
NET "BTN[1]" LOC = C9;
NET "BTN[0]" LOC = B8;
NET "LD[7]" LOC = T11;
NET "LD[6]" LOC = R11;
NET "LD[5]" LOC = N11;
NET "LD[4]" LOC = M11;
NET "LD[3]" LOC = V15;
NET "LD[2]" LOC = U15;
NET "LD[1]" LOC = V16;
NET "LD[0]" LOC = U16;
NET "SEG_DATA[7]" LOC = T17;
NET "SEG_DATA[6]" LOC = T18;
NET "SEG_DATA[5]" LOC = U17;
NET "SEG_DATA[4]" LOC = U18;
NET "SEG_DATA[3]" LOC = M14;
NET "SEG_DATA[2]" LOC = N14;
NET "SEG_DATA[1]" LOC = L14;
NET "SEG_DATA[0]" LOC = M13;
NET "SEG_SEL[3]" LOC = P17;
NET "SEG_SEL[2]" LOC = P18;
NET "SEG_SEL[1]" LOC = N15;
NET "SEG_SEL[0]" LOC = N16;
NET "SW[7]" LOC = T5;
NET "SW[6]" LOC = V8;
NET "SW[5]" LOC = U8;
NET "SW[4]" LOC = N8;
NET "SW[3]" LOC = M8;
NET "SW[2]" LOC = V9;
NET "SW[0]" LOC = T10;
NET "CLK_SRC" LOC = V10;
NET "SW[1]" LOC = T9;
